*{  
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
  

body{
    background-color: rgba(18, 18, 18, 0.95);
    
}


header {
    width: 100%;
    background-color: rgba(100, 65, 165, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.logo a h1{
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
}

.logo a{
    
    text-decoration: none;
 

}

.logo a h1:hover {

    background-color: rgba(100, 100, 100, 0.5);
}


li {
    display: inline-block;
    margin: 0 10px;
}


li a {
    font-size: 24px;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;

}

li a:hover{
    background-color: rgba(100, 100, 100, 0.5);
}


.titulo{
    text-align: center;
    padding-top: 30px;
    color: white;
    font-size: 30px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.container a {
    text-decoration: none;
    color: inherit;
}

.projeto {
    width: 300px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    display: flex; 
    flex-direction: column; 
}

.projeto h2 {
    margin-bottom: 10px;
}

.projeto img {
    max-width: 100%; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 10px; 
}

footer {
    background-color: rgba(100, 65, 165, 0.5);
    color: white;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}


