*{  
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
  

body{
    background-color: rgba(18, 18, 18, 0.95);;
}




/*Editando o cabeçalho basico*/
header {
    width: 100%;
    background-color: rgba(100, 65, 165, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.logo a h1{
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
}

.logo a{
    
    text-decoration: none;
 

}

.logo a h1:hover {

    background-color: rgba(100, 100, 100, 0.5);
}


li {
    display: inline-block;
    margin: 0 10px;
}


li a {
    font-size: 24px;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;

}

li a:hover{
    background-color: rgba(100, 100, 100, 0.5);
}


.container {
    font-size: 25px;
    color: white;
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

form {
    margin: auto;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.redes-sociais {
    margin-top: 50px;
}



.redes-sociais img {
    width: 50px;
    margin-right: 10px;
}



footer {
    background-color: rgba(100, 65, 165, 0.5);
    color: white;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}


